*{box-sizing:border-box;}
body{
    font-family:"Arial", sans-serif;
    font-size:15px;
        color:#fff;
    margin:px;
    padding:0px;
}
.container{
    max-width:1024px;
    margin:0 auto;
    float:center;
    width:100%;
}

header{
    padding:10px 20px;
    background:#999;
    text-align: center
}
main{
    padding:20px;
    background:#aaa;
}
footer{
    padding:10px 20px;
    background:#999;
    text-align: center
}

.images { 
text-align:center;
}
